--safe-area-inset-top: env(safe-area-inset-top);
--safe-area-inset-bottom: env(safe-area-inset-bottom);
--safe-area-inset-left: env(safe-area-inset-left);
--safe-area-inset-right: env(safe-area-inset-right);
font-size: 62.5%;
color-scheme: var(--TWF4rw);
--TWF4rw: light;
--6899sQ: rgba(64,87,109,0.07);
--9QR_hg: rgba(30,41,51,0.45);
--K12xjw: rgba(64,87,109,0.07);
--B2THfg: rgba(57,76,96,0.15);
--QYA_-A: rgba(53,71,90,0.2);
--ctGD3w: rgba(64,87,109,0.07);
--_T63JA: #0d1216;
--oXjekw: rgba(30,41,51,0.45);
--sz5W9A: rgba(13,18,22,0);
--8ZR-UA: rgba(64,87,109,0.07);
--H8nEqw: rgba(57,76,96,0.15);
--zuehrg: rgba(13,18,22,0);
--fgALUw: #0d1216;
--n4L1sw: rgba(30,41,51,0.45);
--6kDNlA: hsla(0,0%,100%,0.7);
--pyoCYg: rgba(57,76,96,0.15);
--sXgitQ: rgba(47,64,80,0.25);
--XGNWMw: rgba(57,76,96,0.15);
--mgNb9w: rgba(57,76,96,0.15);
--COXgsg: rgba(64,87,109,0.07);
--Do4LcA: #0d1216;
--BbP6vg: hsla(0,0%,100%,0.5);
--ykfPVA: rgba(64,87,109,0.07);
--1GR_Og: #c1e7c2;
--7Jsj3A: #0d1216;
--Rd25lA: rgba(30,41,51,0.45);
--YOy1kQ: rgba(64,87,109,0.07);
--axckVg: #c2deff;
--ypAvbQ: #0d1216;
--yuDW1w: rgba(30,41,51,0.45);
--zbbe8w: rgba(64,87,109,0.07);
--wpHozg: #ffd7a8;
--a01w0A: #0d1216;
--vmcmsg: rgba(30,41,51,0.45);
--rxOvlQ: rgba(64,87,109,0.07);
--k8LaaQ: #ffd1d3;
--XRo-NQ: #0d1216;
--pEA5jw: rgba(30,41,51,0.45);
--fhO9-Q: #ebecf0;
--Kw6g7g: rgba(235,236,240,0.7);
--dttpdg: rgba(235,236,240,0);
--vfdmBg: #f4f4f6;
--IynHNw: rgba(244,244,246,0.7);
--1Ym0QA: rgba(244,244,246,0);
--Rij56g: #fff;
--YIBFMQ: hsla(0,0%,100%,0.7);
--roiJIw: hsla(0,0%,100%,0);
--0NEIBA: #fff;
--d-FuRw: hsla(0,0%,100%,0.7);
--_sgbHA: hsla(0,0%,100%,0);
--pUV7hA: #0d1216;
--FTyzZQ: rgba(13,18,22,0.86);
--fSfh3A: rgba(13,18,22,0.7);
--Ya2EDg: rgba(17,23,29,0.6);
---VkLcA: #008009;
--2sYJaA: #1a62ff;
--uYOVog: #ad5a00;
--05tvjQ: #db1436;
--U8IpiA: #b30024;
--gIHunw: #db1436;
--tkbyNg: #8b3dff;
--elFFpw: #7300e6;
--3zRlag: #8b3dff;
--7hnsIg: rgba(43,59,74,0.3);
--hmBz5w: rgba(30,41,51,0.45);
--3j0O2w: #8b3dff;
--6qQCNQ: rgba(57,76,96,0.15);
--ZH6WvQ: #8b3dff;
--CgOmqg: #db1436;
--OHlWbw: rgba(57,76,96,0.15);
--tN1MMA: #00c4cc;
--_mHLrA: #8b3dff;
--s0dOYA: #9e77f3;
--t-i8hw: #7300e6;
--4Yobmg: #fff;
--S_zKBQ: rgba(17,23,29,0.6);
--fPN_wg: rgba(13,18,22,0.7);
--voBvjA: rgba(13,18,22,0.86);
--VGxehA: rgba(17,23,29,0.6);
--QErhlg: #fff;
--GZwQFw: #fff;
--cqkW_A: #008009;
--KIMsqg: #489d4a;
--6iD-Rg: #00660e;
--P3bemg: #fff;
--DP6qqQ: #1a62ff;
--WJ9xxQ: #2e8cff;
--kJFizQ: #004bcc;
--TjZ4gg: #fff;
--xQOmAw: #ad5a00;
--SPKoBQ: #d17600;
--fNNFfQ: #8a4500;
--XPPBAg: #fff;
--IKngdQ: #db1436;
--IIHy3Q: #ff4757;
--9xoqAg: #b30024;
--6hn8OQ: #fff;
--1IVhPQ: 0 0 0 1px rgba(68,92,116,0.02),0 2px 8px rgba(57,76,96,0.15);
--v_jISQ: 0 0 0 1px rgba(64,87,109,0.07),0 2px 12px rgba(53,71,90,0.2);
--MPmRHA: 0 0 0 1px rgba(64,87,109,0.07),0 2px 18px rgba(47,64,80,0.25);
--cT3jbA: 0.07;
--HtChog: 0.025;
--Q6ntOQ: 0 2px 4px -1px rgba(57,76,96,0.15);
--T3U1-A: 0 0 0 1px rgba(64,87,109,0.07);
--YkBpzA: #f4f4f6;
--5A3uBA: #f4f4f6;
--B7uCHg: none;
--no9zKw: 1;
--6Ym1Xg: rgba(17,23,29,0.6);
--vEnm3A: #515154;
--dYvrvQ: 0.45;
pointer-events: auto;
-webkit-tap-highlight-color: transparent;
box-sizing: border-box;
width: 1376px;
max-width: 100%;
will-change: transform;
padding: 32px;

--safe-area-inset-top: env(safe-area-inset-top);
--safe-area-inset-bottom: env(safe-area-inset-bottom);
--safe-area-inset-left: env(safe-area-inset-left);
--safe-area-inset-right: env(safe-area-inset-right);
color-scheme: var(--TWF4rw);
--TWF4rw: light;
--6899sQ: rgba(64,87,109,0.07);
--9QR_hg: rgba(30,41,51,0.45);
--K12xjw: rgba(64,87,109,0.07);
--B2THfg: rgba(57,76,96,0.15);
--QYA_-A: rgba(53,71,90,0.2);
--ctGD3w: rgba(64,87,109,0.07);
--_T63JA: #0d1216;
--oXjekw: rgba(30,41,51,0.45);
--sz5W9A: rgba(13,18,22,0);
--8ZR-UA: rgba(64,87,109,0.07);
--H8nEqw: rgba(57,76,96,0.15);
--zuehrg: rgba(13,18,22,0);
--fgALUw: #0d1216;
--n4L1sw: rgba(30,41,51,0.45);
--6kDNlA: hsla(0,0%,100%,0.7);
--pyoCYg: rgba(57,76,96,0.15);
--sXgitQ: rgba(47,64,80,0.25);
--XGNWMw: rgba(57,76,96,0.15);
--mgNb9w: rgba(57,76,96,0.15);
--COXgsg: rgba(64,87,109,0.07);
--Do4LcA: #0d1216;
--BbP6vg: hsla(0,0%,100%,0.5);
--ykfPVA: rgba(64,87,109,0.07);
--1GR_Og: #c1e7c2;
--7Jsj3A: #0d1216;
--Rd25lA: rgba(30,41,51,0.45);
--YOy1kQ: rgba(64,87,109,0.07);
--axckVg: #c2deff;
--ypAvbQ: #0d1216;
--yuDW1w: rgba(30,41,51,0.45);
--zbbe8w: rgba(64,87,109,0.07);
--wpHozg: #ffd7a8;
--a01w0A: #0d1216;
--vmcmsg: rgba(30,41,51,0.45);
--rxOvlQ: rgba(64,87,109,0.07);
--k8LaaQ: #ffd1d3;
--XRo-NQ: #0d1216;
--pEA5jw: rgba(30,41,51,0.45);
--fhO9-Q: #ebecf0;
--Kw6g7g: rgba(235,236,240,0.7);
--dttpdg: rgba(235,236,240,0);
--vfdmBg: #f4f4f6;
--IynHNw: rgba(244,244,246,0.7);
--1Ym0QA: rgba(244,244,246,0);
--Rij56g: #fff;
--YIBFMQ: hsla(0,0%,100%,0.7);
--roiJIw: hsla(0,0%,100%,0);
--0NEIBA: #fff;
--d-FuRw: hsla(0,0%,100%,0.7);
--_sgbHA: hsla(0,0%,100%,0);
--pUV7hA: #0d1216;
--FTyzZQ: rgba(13,18,22,0.86);
--fSfh3A: rgba(13,18,22,0.7);
--Ya2EDg: rgba(17,23,29,0.6);
---VkLcA: #008009;
--2sYJaA: #1a62ff;
--uYOVog: #ad5a00;
--05tvjQ: #db1436;
--U8IpiA: #b30024;
--gIHunw: #db1436;
--tkbyNg: #8b3dff;
--elFFpw: #7300e6;
--3zRlag: #8b3dff;
--7hnsIg: rgba(43,59,74,0.3);
--hmBz5w: rgba(30,41,51,0.45);
--3j0O2w: #8b3dff;
--6qQCNQ: rgba(57,76,96,0.15);
--ZH6WvQ: #8b3dff;
--CgOmqg: #db1436;
--OHlWbw: rgba(57,76,96,0.15);
--tN1MMA: #00c4cc;
--_mHLrA: #8b3dff;
--s0dOYA: #9e77f3;
--t-i8hw: #7300e6;
--4Yobmg: #fff;
--S_zKBQ: rgba(17,23,29,0.6);
--fPN_wg: rgba(13,18,22,0.7);
--voBvjA: rgba(13,18,22,0.86);
--VGxehA: rgba(17,23,29,0.6);
--QErhlg: #fff;
--GZwQFw: #fff;
--cqkW_A: #008009;
--KIMsqg: #489d4a;
--6iD-Rg: #00660e;
--P3bemg: #fff;
--DP6qqQ: #1a62ff;
--WJ9xxQ: #2e8cff;
--kJFizQ: #004bcc;
--TjZ4gg: #fff;
--xQOmAw: #ad5a00;
--SPKoBQ: #d17600;
--fNNFfQ: #8a4500;
--XPPBAg: #fff;
--IKngdQ: #db1436;
--IIHy3Q: #ff4757;
--9xoqAg: #b30024;
--6hn8OQ: #fff;
--1IVhPQ: 0 0 0 1px rgba(68,92,116,0.02),0 2px 8px rgba(57,76,96,0.15);
--v_jISQ: 0 0 0 1px rgba(64,87,109,0.07),0 2px 12px rgba(53,71,90,0.2);
--MPmRHA: 0 0 0 1px rgba(64,87,109,0.07),0 2px 18px rgba(47,64,80,0.25);
--cT3jbA: 0.07;
--HtChog: 0.025;
--Q6ntOQ: 0 2px 4px -1px rgba(57,76,96,0.15);
--T3U1-A: 0 0 0 1px rgba(64,87,109,0.07);
--YkBpzA: #f4f4f6;
--5A3uBA: #f4f4f6;
--B7uCHg: none;
--no9zKw: 1;
--6Ym1Xg: rgba(17,23,29,0.6);
--vEnm3A: #515154;
--dYvrvQ: 0.45;
-webkit-tap-highlight-color: transparent;
cursor: pointer;
border: none;
background: none;
height: 100%;
text-transform: inherit;
font: inherit;
margin: 0;
user-select: none;
outline: none;
min-width: unset;
justify-content: center;
--icon-size: 32px;
position: sticky;
top: calc(50vh - 24px);
bottom: calc(50vh - 24px);
pointer-events: auto;
width: 48px;
padding: 8px;
color: var(--QErhlg);
margin-left: -48px;

--safe-area-inset-top: env(safe-area-inset-top);
--safe-area-inset-bottom: env(safe-area-inset-bottom);
--safe-area-inset-left: env(safe-area-inset-left);
--safe-area-inset-right: env(safe-area-inset-right);
color-scheme: var(--TWF4rw);
--TWF4rw: light;
--6899sQ: rgba(64,87,109,0.07);
--9QR_hg: rgba(30,41,51,0.45);
--K12xjw: rgba(64,87,109,0.07);
--B2THfg: rgba(57,76,96,0.15);
--QYA_-A: rgba(53,71,90,0.2);
--ctGD3w: rgba(64,87,109,0.07);
--_T63JA: #0d1216;
--oXjekw: rgba(30,41,51,0.45);
--sz5W9A: rgba(13,18,22,0);
--8ZR-UA: rgba(64,87,109,0.07);
--H8nEqw: rgba(57,76,96,0.15);
--zuehrg: rgba(13,18,22,0);
--fgALUw: #0d1216;
--n4L1sw: rgba(30,41,51,0.45);
--6kDNlA: hsla(0,0%,100%,0.7);
--pyoCYg: rgba(57,76,96,0.15);
--sXgitQ: rgba(47,64,80,0.25);
--XGNWMw: rgba(57,76,96,0.15);
--mgNb9w: rgba(57,76,96,0.15);
--COXgsg: rgba(64,87,109,0.07);
--Do4LcA: #0d1216;
--BbP6vg: hsla(0,0%,100%,0.5);
--ykfPVA: rgba(64,87,109,0.07);
--1GR_Og: #c1e7c2;
--7Jsj3A: #0d1216;
--Rd25lA: rgba(30,41,51,0.45);
--YOy1kQ: rgba(64,87,109,0.07);
--axckVg: #c2deff;
--ypAvbQ: #0d1216;
--yuDW1w: rgba(30,41,51,0.45);
--zbbe8w: rgba(64,87,109,0.07);
--wpHozg: #ffd7a8;
--a01w0A: #0d1216;
--vmcmsg: rgba(30,41,51,0.45);
--rxOvlQ: rgba(64,87,109,0.07);
--k8LaaQ: #ffd1d3;
--XRo-NQ: #0d1216;
--pEA5jw: rgba(30,41,51,0.45);
--fhO9-Q: #ebecf0;
--Kw6g7g: rgba(235,236,240,0.7);
--dttpdg: rgba(235,236,240,0);
--vfdmBg: #f4f4f6;
--IynHNw: rgba(244,244,246,0.7);
--1Ym0QA: rgba(244,244,246,0);
--Rij56g: #fff;
--YIBFMQ: hsla(0,0%,100%,0.7);
--roiJIw: hsla(0,0%,100%,0);
--0NEIBA: #fff;
--d-FuRw: hsla(0,0%,100%,0.7);
--_sgbHA: hsla(0,0%,100%,0);
--pUV7hA: #0d1216;
--FTyzZQ: rgba(13,18,22,0.86);
--fSfh3A: rgba(13,18,22,0.7);
--Ya2EDg: rgba(17,23,29,0.6);
---VkLcA: #008009;
--2sYJaA: #1a62ff;
--uYOVog: #ad5a00;
--05tvjQ: #db1436;
--U8IpiA: #b30024;
--gIHunw: #db1436;
--tkbyNg: #8b3dff;
--elFFpw: #7300e6;
--3zRlag: #8b3dff;
--7hnsIg: rgba(43,59,74,0.3);
--hmBz5w: rgba(30,41,51,0.45);
--3j0O2w: #8b3dff;
--6qQCNQ: rgba(57,76,96,0.15);
--ZH6WvQ: #8b3dff;
--CgOmqg: #db1436;
--OHlWbw: rgba(57,76,96,0.15);
--tN1MMA: #00c4cc;
--_mHLrA: #8b3dff;
--s0dOYA: #9e77f3;
--t-i8hw: #7300e6;
--4Yobmg: #fff;
--S_zKBQ: rgba(17,23,29,0.6);
--fPN_wg: rgba(13,18,22,0.7);
--voBvjA: rgba(13,18,22,0.86);
--VGxehA: rgba(17,23,29,0.6);
--QErhlg: #fff;
--GZwQFw: #fff;
--cqkW_A: #008009;
--KIMsqg: #489d4a;
--6iD-Rg: #00660e;
--P3bemg: #fff;
--DP6qqQ: #1a62ff;
--WJ9xxQ: #2e8cff;
--kJFizQ: #004bcc;
--TjZ4gg: #fff;
--xQOmAw: #ad5a00;
--SPKoBQ: #d17600;
--fNNFfQ: #8a4500;
--XPPBAg: #fff;
--IKngdQ: #db1436;
--IIHy3Q: #ff4757;
--9xoqAg: #b30024;
--6hn8OQ: #fff;
--1IVhPQ: 0 0 0 1px rgba(68,92,116,0.02),0 2px 8px rgba(57,76,96,0.15);
--v_jISQ: 0 0 0 1px rgba(64,87,109,0.07),0 2px 12px rgba(53,71,90,0.2);
--MPmRHA: 0 0 0 1px rgba(64,87,109,0.07),0 2px 18px rgba(47,64,80,0.25);
--cT3jbA: 0.07;
--HtChog: 0.025;
--Q6ntOQ: 0 2px 4px -1px rgba(57,76,96,0.15);
--T3U1-A: 0 0 0 1px rgba(64,87,109,0.07);
--YkBpzA: #f4f4f6;
--5A3uBA: #f4f4f6;
--B7uCHg: none;
--no9zKw: 1;
--6Ym1Xg: rgba(17,23,29,0.6);
--vEnm3A: #515154;
--dYvrvQ: 0.45;
-webkit-tap-highlight-color: transparent;
cursor: pointer;
border: none;
background: none;
height: 100%;
text-transform: inherit;
font: inherit;
margin: 0;
user-select: none;
outline: none;
min-width: unset;
justify-content: center;
--icon-size: 32px;
position: sticky;
top: calc(50vh - 24px);
bottom: calc(50vh - 24px);
pointer-events: auto;
width: 48px;
padding: 8px;
color: var(--QErhlg);
margin-right: -48px;